
@{
    ViewBag.Title = "Home Page";
}
@section  links{
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
}
<div class="card-content" id="hero">

    <div class="row ">
        <div class="center-align">
            <h1>Rent-A-Car</h1>
            <a href=" @Url.Action("ShowAllCars", "Home")" class="buttons ">Make a Reservation</a>

        </div>

    </div>
</div>